<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="css/favicon.ico">

    <title>Lickster</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/logic.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style type="text/css">
    body {
      background-color: #FFFEED;">
    }
    button {

    }
  </style>
  <body>

      <h1>Lickster</h1>

    <div class="container">
    <!--Buttons-->
    <div class="container" style="text-align: middle;">
        <h1>Lick Creator</h1>
        <div class="row" style=" padding-bottom: : 2">
          <div class="btn-group-justified" role="group" style=" padding-bottom: 2;">
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Whole</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/2</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/4</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/8</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/16</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/32</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/64</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">1/128</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">.</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Diddle</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Grace Note</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Accent</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Housetop</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Tenuto</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">R-sticking</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">L-sticking</button>
            <button type="button" class="btn btn-primary" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Tuple</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" id="Create-btn" style="padding: 10px 20px; background-color: #EEE5E9; border-color: #EAD3DD; color:#000000">Create</button>

</div> <!-- /container -->
    <div class="container" style="margin-top:5px;">
      <img src="volvox.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
  </body>
</html>
