<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lickster</title>

    <!-- Style Sheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/css/icon.ico">
    <!-- Jquery & Logic -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/logic.js"></script>
</head>

<body>
<div class="page-header"
     style="margin-left: 20px; margin-right: 20px; margin-top: 0; background-color: #fed; outline: solid">
    <h1><img src="css/icon48.png"> Lickster
        <small>Lick Creator</small>
    </h1>
</div>
<div class="container">
    <div class="row">
        <form id="input-form">
            <div class="col-sm-4">
                <textarea class="form-control input-lg">hello</textarea>
            </div>
            <div class="col-sm-4">
                <textarea class="form-control input-lg">hello</textarea>
            </div>
            <div class="col-sm-4">
                <textarea class="form-control input-lg">hello</textarea>
            </div>
        </form>
    </div>
</div>
</body>

</html>
